<p>Github_repo <a>https://github.com/wesm/pydata-book</a></p>

In [62]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import statsmodels as sm
from datetime import datetime, date, time

In [2]:
a = [1, 2, 3]

In [3]:
b = a

In [4]:
a.append(4)

In [5]:
b

[1, 2, 3, 4]

In [6]:
def append_element(some_list, element):
    some_list.append(element)

In [7]:
data = [1, 2, 3]
append_element(data, 4)
data

[1, 2, 3, 4]

In [8]:
a = 5
type(a)

int

In [9]:
a = 'foo'
type(a)

str

In [10]:
a = 4.5
b = 2

In [11]:
print('a is {0}, b is {1}'.format(type(a), type(b)))

a is <class 'float'>, b is <class 'int'>

In [12]:
a/b

2.25

In [13]:
a = 5
isinstance(a,int)

True

In [14]:
a = 5; b = 4.5

In [15]:
isinstance(a, (int, float))

True

In [16]:
isinstance(b, (int, float))

True

<h5>Attributes and methods</h5>

In [17]:
a = 'foo'

In [19]:
a.
#pressing tab after the period will show attributes and method
"""
attributes are objects stored 'inside' the object
methods are functions associated with an object that can have access to the objects data
"""

SyntaxError: invalid syntax (<ipython-input-19-fa91fa7903e3>, line 1)

In [20]:
#Attributew and methods can also be access by name via the getattr function
getattr(a, 'split')

<h5> Duck typing</h5>

<p>You may not care about type of an object but whether it has certain methods of behavior. Named after "If it walks like a duck....". For example verify an object is iterable by implementing <i>iterator protocol</i>. For many objects this means that it has the "magic" method '__iter__'</p>

In [22]:
def isiterable(obj):
    try :
        iter(obj)
        return True
    except TypeError: #not iterable
        return False

In [23]:
isiterable('a string')

True

In [24]:
isiterable([1, 2, 3])

True

In [26]:
isiterable(5)

False

<h5>Binary operators and comparisons</h5>

In [27]:
a = [1, 2, 3]
b = a
c = list(a)

In [28]:
a is b

True

In [32]:
a is not c

True

In [30]:
c

[1, 2, 3]

In [33]:
a == c

True

<p> In the example above, <code>list</code> creates a new Python list so <code>is</code> is not the same as the <code>==</code> operator. <code>is</code> will only hold true if the <code>a</code> and <code>b</code> are referencing the same object

<h5>Numeric types</h5>

In [34]:
ival = 17239871

In [35]:
ival**6

26254519291092456596965462913230729701102721

In [36]:
fval = 7.243
fval2 = 6.78e-5

In [39]:
fval2**-2

217540745.38161

In [41]:
3//2 # C-style integer division drops the fractional part.

1

<h5>Strings</h5>

In [42]:
a = 'one way of writing a string'
b = "another way"
c = """
This is a longer string that
spans multiple lines
"""

In [43]:
c.count('\n')

3

<p>Python strings ar immutable like tuples</p>

In [44]:
b = a.replace('string', 'longer string')

In [45]:
a

'one way of writing a string'

In [46]:
b

'one way of writing a longer string'

In [47]:
a = 5.6

In [48]:
s = str(a)

In [49]:
print(s)

5.6

In [50]:
s = 'python'

In [51]:
list(s)

['p', 'y', 't', 'h', 'o', 'n']

In [52]:
s[:3]

'pyt'

In [57]:
s = '12\\34'
print(s)

12\34

In [58]:
s = r'this\has\no\speical\characters'
s
#r stands for raw

'this\\has\\no\\speical\\characters'

In [59]:
a = 'this is the first half '
b = 'and this is the second half'
a + b

'this is the first half and this is the second half'

In [60]:
template = '{0:.2f} {1:s} are worth ${2:d}'
#{0.2f} means to format the first argument as a floating-point number with 2 decimal places
#{1:s} means format sould be a string
#{2:d} means to format argument as an exact integer

In [61]:
template.format(4.5560, 'Argentina Pesos', 1)

'4.56 Argentina Pesos are worth $1'

In [65]:
dt = datetime(2011, 10, 29, 20, 30, 21)

In [66]:
dt.day

29

In [67]:
dt.minute

30

In [68]:
dt.date()

datetime.date(2011, 10, 29)

In [69]:
dt.time()

datetime.time(20, 30, 21)

<p> <code>strftime</code> method formats a date time as a string</p>

In [74]:
dt.strftime('%m/%d/%Y %H:%M')

'10/29/2011 20:30'

<p> Strings can be converted(parsed) into <code>datetime</code> objects with <code>strptime</code> function:</p>

In [73]:
datetime.strptime('20091031', '%Y%m%d')

datetime.datetime(2009, 10, 31, 0, 0)

In [78]:
dt2 = datetime(2011, 11, 15, 22, 30)

In [79]:
delta = dt2 - dt

In [80]:
delta

datetime.timedelta(days=17, seconds=7179)

In [81]:
type(delta)

datetime.timedelta

In [82]:
dt

datetime.datetime(2011, 10, 29, 20, 30, 21)

In [83]:
dt + delta

datetime.datetime(2011, 11, 15, 22, 30)

<h3>Control Flow</h3>

In [87]:
x = 0
if x < 0:
    print('negative!')
elif x == 0:
    pass# pass allows to skip section of control flow
else:
    print('positive')

In [88]:
range(10)

range(0, 10)

In [89]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [90]:
list(range(0,20,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [91]:
list(range(5, 0, -1))

[5, 4, 3, 2, 1]

In [92]:
seq = [1, 2, 3, 4]
for i in range(len(seq)):
    val = seq[i]
    print(val)

1
2
3
4

<h5>Tenary expressions</h5>
<p><i>ternary expressions</i> allows you to combine if-else block in a sinlge line or expression</p>

In [93]:
x = 5
'Non-negative' if x>= 0 else 'Negative'

'Non-negative'